# Ganti dengan connection string Supabase kamu
# Format: postgresql://postgres:[PASSWORD]@[HOST].supabase.co:5432/postgres
DATABASE_URL=postgresql://postgres:password@db.xxx.supabase.co:5432/postgres
